# PYTHON - Exercicio 1

Python (crie um script): Insira em um dataframe (manualmente) a seguinte tabela. Essa tabela representa a posição de DI1 em três dias distintos.

In [39]:
import pandas as pd
from datetime import datetime, timedelta

In [54]:
df = pd.read_csv("tabela_ex1_python.csv", sep="\t")
df.head()

         DATA   ATIVO    QTD
0  03/03/2020  DI1F21  10500
1  03/03/2020  DI1J21   3500
2  03/03/2020  DI1N21   2435
3  03/03/2020  DI1F22   4545
4  03/03/2020  DI1F25    180

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATA    17 non-null     object
 1   ATIVO   17 non-null     object
 2   QTD     17 non-null     int64
dtypes: int64(1), object(2)
memory usage: 540.0+ bytes

In [57]:
df['QTD'] = df['QTD'].astype(int)
df['DATA'] = pd.to_datetime(df['DATA'], format="%d/%m/%Y")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATA    17 non-null     datetime64[ns]
 1   ATIVO   17 non-null     object
 2   QTD     17 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 540.0+ bytes

In [58]:
df.head(20)

         DATA   ATIVO    QTD
0  2020-03-03  DI1F21  10500
1  2020-03-03  DI1J21   3500
2  2020-03-03  DI1N21   2435
3  2020-03-03  DI1F22   4545
4  2020-03-03  DI1F25    180
5  2020-03-04  DI1F21   9500
6  2020-03-04  DI1J21   3500
7  2020-03-04  DI1N21   2100
8  2020-03-04  DI1F22   4800
9  2020-03-04  DI1F25    180
10 2020-03-04  DI1F27    330
11 2020-03-05  DI1F21   8000
12 2020-03-05  DI1J21   3300
13 2020-03-05  DI1N21   2050
14 2020-03-05  DI1F22   6300
15 2020-03-05  DI1F25    250
16 2020-03-05  DI1F29   1110

In [61]:
data_inicial_excel = '01/01/1900'
data_inicial_excel = pd.to_datetime(data_inicial_excel, format="%d/%m/%Y")
data_inicial_excel

Timestamp('1900-01-01 00:00:00')

In [63]:
#testando
data_teste = pd.to_datetime('05/01/1900', format="%d/%m/%Y")
diferença = data_teste - data_inicial_excel
diferença

Timedelta('4 days 00:00:00')

In [64]:
diferença.days

4

data_inicial em formato excel é 1, data_teste deve ser 5
Nesse caso, deve-se adicionar 1 ao valor achado

In [65]:
def formatar_data_para_excel(data):
    data = data - data_inicial_excel + timedelta(days=1)
    return data.days

In [66]:
df['DATA'] = df['DATA'].apply(formatar_data_para_excel)
df.head(20)

     DATA   ATIVO    QTD
0   43892  DI1F21  10500
1   43892  DI1J21   3500
2   43892  DI1N21   2435
3   43892  DI1F22   4545
4   43892  DI1F25    180
5   43893  DI1F21   9500
6   43893  DI1J21   3500
7   43893  DI1N21   2100
8   43893  DI1F22   4800
9   43893  DI1F25    180
10  43893  DI1F27    330
11  43894  DI1F21   8000
12  43894  DI1J21   3300
13  43894  DI1N21   2050
14  43894  DI1F22   6300
15  43894  DI1F25    250
16  43894  DI1F29   1110

## b.Transforme o número 43101 em uma variável datetime.

In [ ]:
def converter_excel_para_data(data):
    data = data + data_inicial_excel - timedelta(days=1)
    return data

In [69]:
data_ex_b = timedelta(days=43101)
data_ex_b

datetime.timedelta(days=43101)

In [74]:
data_ex_b = converter_excel_para_data(data_ex_b)
data_ex_b

Timestamp('2018-01-02 00:00:00')

In [76]:
data_ex_b.strftime('%d/%m/%Y')

'02/01/2018'