In [7]:
import pandas as pd
import re

In [14]:
df = pd.read_csv("Teste_Specialisterne_Oct2024.csv", sep=";", header=None)
df.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x87 in position 9: invalid start byte

In [25]:
# tentei encoding utf-8, mas o erro continou
df = pd.read_csv("Teste_Specialisterne_Oct2024.csv", sep=";", header=None, encoding='ISO-8859-1')
df.head()

         0      1      2      3
0  Cliente   AÆo    QTD  PREO
1        1  PETR4   2000     20
2        1  ABEV3   3500     16
3        2  ITUB4   1000     30
4        2  BRFS3  10000     22

In [26]:
def limpar_nomes_colunas(nomes_colunas):
    nomes_colunas = re.sub(r'[^A-Za-z0-9\s]', '', nomes_colunas)
    return nomes_colunas

In [27]:
df.iloc[0,:] = df.iloc[0,:].apply(limpar_nomes_colunas)
df.head()

         0      1      2     3
0  Cliente     Ao    QTD  PREO
1        1  PETR4   2000    20
2        1  ABEV3   3500    16
3        2  ITUB4   1000    30
4        2  BRFS3  10000    22

In [28]:
df.columns = ["Cliente", "Acao", "QTD", "Preco"]
df.head()

   Cliente   Acao    QTD Preco
0  Cliente     Ao    QTD  PREO
1        1  PETR4   2000    20
2        1  ABEV3   3500    16
3        2  ITUB4   1000    30
4        2  BRFS3  10000    22

In [ ]:
df.drop(0, inplace=True)
df.head()

  Cliente   Acao    QTD Preco
1       1  PETR4   2000    20
2       1  ABEV3   3500    16
3       2  ITUB4   1000    30
4       2  BRFS3  10000    22
5       3  USIM5    500    11

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 1 to 6
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cliente  6 non-null      object
 1   Acao     6 non-null      object
 2   QTD      6 non-null      object
 3   Preco    6 non-null      object
dtypes: object(4)
memory usage: 324.0+ bytes

In [37]:
df["Cliente"] = df["Cliente"].astype(int)
df["QTD"] = df["QTD"].astype(int)
df["Preco"] = df["Preco"].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 1 to 6
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cliente  6 non-null      int64
 1   Acao     6 non-null      object
 2   QTD      6 non-null      int64
 3   Preco    6 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 324.0+ bytes

In [38]:
df2 = df.copy()
df2["Total"] = df2["QTD"]*df2["Preco"]
df2.head(10)

   Cliente   Acao    QTD  Preco     Total
1        1  PETR4   2000   20.0   40000.0
2        1  ABEV3   3500   16.0   56000.0
3        2  ITUB4   1000   30.0   30000.0
4        2  BRFS3  10000   22.0  220000.0
5        3  USIM5    500   11.0    5500.0
6        3  BBDC4    500   30.0   15000.0

In [84]:
resultado = df2.groupby("Cliente").agg({
    "Total": 'sum'
})
resultado

            Total
Cliente
1         96000.0
2        250000.0
3         20500.0

In [74]:
type(resultado)

pandas.core.frame.DataFrame

In [87]:
resultado = resultado.rename(columns = { 'Total' : 'Financeiro em ações' })
resultado.columns

Index(['Financeiro em ações'], dtype='object')

In [88]:
resultado.reset_index()
print(resultado)

         Financeiro em ações
Cliente
1                    96000.0
2                   250000.0
3                    20500.0