# Exerc√≠cios SQL

# Exercicio 1
Crie um Select que gere os 10 maiores Pesos do IBOV.

In [1]:
#%pip install sqlalchemy pandas

In [3]:
from sqlalchemy import create_engine, String, Float
import pandas as pd
import os
import sqlite3

In [3]:
df1 = pd.read_csv("tabela_ex1_sql.txt", sep="\t")
df1.head(50)

,ID,TICKER,INDICE,FONTE,QTD_TEORICA,PESO
0,1,VALE3,IBOV,B3,4.270.903.023,"12,0693"
1,2,PETR4,IBOV,B3,4.431.132.660,"7,4851"
2,3,ITUB4,IBOV,B3,4.455.161.368,"7,3277"
3,4,PETR3,IBOV,B3,2.448.348.744,"4,5171"
4,5,BBDC4,IBOV,B3,5.129.958.973,"3,6428"
5,6,BBAS3,IBOV,B3,2.842.613.858,"3,4972"
6,7,WEGE3,IBOV,B3,1.269.032.828,"3,3214"
7,8,ELET3,IBOV,B3,1.780.013.881,"3,2058"
8,9,SBSP3,IBOV,B3,683.508.570,"2,9119"
9,10,ITSA4,IBOV,B3,5.504.638.590,"2,7373"
10,11,B3SA3,IBOV,B3,5.511.401.013,"2,7355"
11,12,ABEV3,IBOV,B3,4.394.835.131,"2,6356"
12,13,BPAC11,IBOV,B3,1.287.247.964,"1,9468"
13,14,RENT3,IBOV,B3,977.700.485,"1,9461"
14,15,EQTL3,IBOV,B3,1.244.602.400,"1,8817"
15,16,JBSS3,IBOV,B3,1.142.696.472,"1,8816"
16,17,EMBR3,IBOV,B3,734.632.601,"1,7056"
17,18,SUZB3,IBOV,B3,630.821.784,"1,6991"
18,19,RDOR3,IBOV,B3,1.145.289.019,"1,5982"
19,20,PRIO3,IBOV,B3,798.909.771,"1,5551"
20,21,RADL3,IBOV,B3,1.279.770.315,"1,5122"
21,22,RAIL3,IBOV,B3,1.215.994.115,"1,0751"
22,23,VBBR3,IBOV,B3,1.023.392.529,"1,0642"
23,24,GGBR4,IBOV,B3,1.242.683.687,"1,0563"
24,25,UGPA3,IBOV,B3,1.090.134.379,"1,0362"

In [4]:
df1 = df1.set_index("ID")
df1.head(50)

,TICKER,INDICE,FONTE,QTD_TEORICA,PESO
ID,,,,,
1,VALE3,IBOV,B3,4.270.903.023,"12,0693"
2,PETR4,IBOV,B3,4.431.132.660,"7,4851"
3,ITUB4,IBOV,B3,4.455.161.368,"7,3277"
4,PETR3,IBOV,B3,2.448.348.744,"4,5171"
5,BBDC4,IBOV,B3,5.129.958.973,"3,6428"
6,BBAS3,IBOV,B3,2.842.613.858,"3,4972"
7,WEGE3,IBOV,B3,1.269.032.828,"3,3214"
8,ELET3,IBOV,B3,1.780.013.881,"3,2058"
9,SBSP3,IBOV,B3,683.508.570,"2,9119"
10,ITSA4,IBOV,B3,5.504.638.590,"2,7373"
11,B3SA3,IBOV,B3,5.511.401.013,"2,7355"
12,ABEV3,IBOV,B3,4.394.835.131,"2,6356"
13,BPAC11,IBOV,B3,1.287.247.964,"1,9468"
14,RENT3,IBOV,B3,977.700.485,"1,9461"
15,EQTL3,IBOV,B3,1.244.602.400,"1,8817"
16,JBSS3,IBOV,B3,1.142.696.472,"1,8816"
17,EMBR3,IBOV,B3,734.632.601,"1,7056"
18,SUZB3,IBOV,B3,630.821.784,"1,6991"
19,RDOR3,IBOV,B3,1.145.289.019,"1,5982"
20,PRIO3,IBOV,B3,798.909.771,"1,5551"
21,RADL3,IBOV,B3,1.279.770.315,"1,5122"
22,RAIL3,IBOV,B3,1.215.994.115,"1,0751"
23,VBBR3,IBOV,B3,1.023.392.529,"1,0642"
24,GGBR4,IBOV,B3,1.242.683.687,"1,0563"
25,UGPA3,IBOV,B3,1.090.134.379,"1,0362"

In [5]:
df1.info()
df1["QTD_TEORICA"] = df1["QTD_TEORICA"].str.replace(".", "").str.replace(",", ".").astype(float)
df1["PESO"] = df1["PESO"].str.replace(",", ".").astype(float)

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 1 to 25
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TICKER       25 non-null     object
 1   INDICE       25 non-null     object
 2   FONTE        25 non-null     object
 3   QTD_TEORICA  25 non-null     object
 4   PESO         25 non-null     object
dtypes: object(5)
memory usage: 1.2+ KB

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 1 to 25
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TICKER       25 non-null     object
 1   INDICE       25 non-null     object
 2   FONTE        25 non-null     object
 3   QTD_TEORICA  25 non-null     float64
 4   PESO         25 non-null     float64
dtypes: float64(2), object(3)
memory usage: 1.2+ KB

In [7]:
DATABASE_PATH = os.path.join('db', 'sql_database.db')
SQLALCHEMY_DATABASE = f'sqlite:///{DATABASE_PATH}'
engine = create_engine(SQLALCHEMY_DATABASE)
print(SQLALCHEMY_DATABASE)

sql_script_path= "script_criar_db.sql"

sqlite:///db\sql_database.db

In [8]:
def criar_banco_de_dados():
    if not os.path.exists(DATABASE_PATH):
        try:
            conn = sqlite3.connect(DATABASE_PATH)
            cursor = conn.cursor()
            with open(sql_script_path, 'r') as f:
                sql_script = f.read()
            cursor.executescript(sql_script)
            conn.commit()
            print("Banco de dados criado.")
        except Exception as e:
            print(f"Erro: {e}")
        finally:
            conn.close()
    else:
        print("Banco de dados j√° existe.")

In [9]:
criar_banco_de_dados()

Banco de dados criado.

In [10]:
formato_colunas = {'TICKER': String(5), 'INDICE': String(50), 'FONTE': String(50), 'QTD_TEORICA': Float(), 'PESO': Float()}
db = df1.to_sql('INDEX_WEIGHTS', con=engine, if_exists='append', index=False, dtype=formato_colunas)

In [18]:
conn = sqlite3.connect('db\\sql_database.db')

query = "SELECT * FROM INDEX_WEIGHTS"

df_sql = pd.read_sql(query, conn)
conn.close()
df_sql.head(50)

    ID  TICKER INDICE FONTE   QTD_TEORICA     PESO
0    1   VALE3   IBOV    B3  4.270903e+09  12.0693
1    2   PETR4   IBOV    B3  4.431133e+09   7.4851
2    3   ITUB4   IBOV    B3  4.455161e+09   7.3277
3    4   PETR3   IBOV    B3  2.448349e+09   4.5171
4    5   BBDC4   IBOV    B3  5.129959e+09   3.6428
5    6   BBAS3   IBOV    B3  2.842614e+09   3.4972
6    7   WEGE3   IBOV    B3  1.269033e+09   3.3214
7    8   ELET3   IBOV    B3  1.780014e+09   3.2058
8    9   SBSP3   IBOV    B3  6.835086e+08   2.9119
9   10   ITSA4   IBOV    B3  5.504639e+09   2.7373
10  11   B3SA3   IBOV    B3  5.511401e+09   2.7355
11  12   ABEV3   IBOV    B3  4.394835e+09   2.6356
12  13  BPAC11   IBOV    B3  1.287248e+09   1.9468
13  14   RENT3   IBOV    B3  9.777005e+08   1.9461
14  15   EQTL3   IBOV    B3  1.244602e+09   1.8817
15  16   JBSS3   IBOV    B3  1.142696e+09   1.8816
16  17   EMBR3   IBOV    B3  7.346326e+08   1.7056
17  18   SUZB3   IBOV    B3  6.308218e+08   1.6991
18  19   RDOR3   IBOV    B3  1.145289e+09   1.5982
19  20   PRIO3   IBOV    B3  7.989098e+08   1.5551
20  21   RADL3   IBOV    B3  1.279770e+09   1.5122
21  22   RAIL3   IBOV    B3  1.215994e+09   1.0751
22  23   VBBR3   IBOV    B3  1.023393e+09   1.0642
23  24   GGBR4   IBOV    B3  1.242684e+09   1.0563
24  25   UGPA3   IBOV    B3  1.090134e+09   1.0362

In [17]:
query = "SELECT ID, TICKER, PESO FROM INDEX_WEIGHTS \
        WHERE INDICE LIKE 'IBOV' \
        ORDER BY PESO DESC \
        LIMIT 10"

df_sql_ex1 = pd.read_sql(query, conn)
df_sql_ex1.head(50)
conn.close()

# Exercicio 2

Utilizando a tabela do Exerc√≠cio 1, adicionar os seguintes registros.

In [13]:
df2 = pd.read_csv("tabela_ex2_sql.txt", sep="\t")
df2.head(50)

,TICKER,INDICE,FONTE,QTD_TEORICA,PESO
0,ENEV3,IBOV,B3,1.579.821.370,"1,0324"
1,BBSE3,IBOV,B3,637.332.335,"1,0238"
2,VIVT3,IBOV,B3,407.257.128,"1,0213"
3,CMIG4,IBOV,B3,1.858.636.840,"0,9616"
4,BRFS3,IBOV,B3,814.523.002,"0,9244"

In [ ]:
# H√° um erro no nome das colunas
db = df2.to_sql('INDEX_WEIGHTS', con=engine, if_exists='append', index=False)

OperationalError: (sqlite3.OperationalError) table INDEX_WEIGHTS has no column named  QTD_TEORICA
[SQL: INSERT INTO "INDEX_WEIGHTS" ("TICKER", "INDICE", "FONTE", " QTD_TEORICA ", " PESO") VALUES (?, ?, ?, ?, ?)]
[parameters: [('ENEV3', 'IBOV', 'B3', '            1.579.821.370 ', '                                    1,0324'), ('BBSE3', 'IBOV', 'B3', '               637.332.335 ', '                                    1,0238'), ('VIVT3', 'IBOV', 'B3', '               407.257.128 ', '                                    1,0213'), ('CMIG4', 'IBOV', 'B3', '            1.858.636.840 ', '                                    0,9616'), ('BRFS3', 'IBOV', 'B3', '               814.523.002 ', '                                    0,9244')]]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [23]:
df2 = df2.rename(columns= {' QTD_TEORICA ': 'QTD_TEORICA', ' PESO': 'PESO'})
df2["QTD_TEORICA"] = df2["QTD_TEORICA"].str.replace(".", "").str.replace(",", ".").astype(float)
df2["PESO"] = df2["PESO"].str.replace(",", ".").astype(float)
df2.head()

  TICKER INDICE FONTE   QTD_TEORICA    PESO
0  ENEV3   IBOV    B3  1.579821e+09  1.0324
1  BBSE3   IBOV    B3  6.373323e+08  1.0238
2  VIVT3   IBOV    B3  4.072571e+08  1.0213
3  CMIG4   IBOV    B3  1.858637e+09  0.9616
4  BRFS3   IBOV    B3  8.145230e+08  0.9244

In [24]:
db = df2.to_sql('INDEX_WEIGHTS', con=engine, if_exists='append', index=False)

In [25]:
conn.close()
conn = sqlite3.connect('db\\sql_database.db')

query = "SELECT * FROM INDEX_WEIGHTS"

df_ex2_sql = pd.read_sql(query, conn)

df_ex2_sql.head(50)

    ID  TICKER INDICE FONTE   QTD_TEORICA     PESO
0    1   VALE3   IBOV    B3  4.270903e+09  12.0693
1    2   PETR4   IBOV    B3  4.431133e+09   7.4851
2    3   ITUB4   IBOV    B3  4.455161e+09   7.3277
3    4   PETR3   IBOV    B3  2.448349e+09   4.5171
4    5   BBDC4   IBOV    B3  5.129959e+09   3.6428
5    6   BBAS3   IBOV    B3  2.842614e+09   3.4972
6    7   WEGE3   IBOV    B3  1.269033e+09   3.3214
7    8   ELET3   IBOV    B3  1.780014e+09   3.2058
8    9   SBSP3   IBOV    B3  6.835086e+08   2.9119
9   10   ITSA4   IBOV    B3  5.504639e+09   2.7373
10  11   B3SA3   IBOV    B3  5.511401e+09   2.7355
11  12   ABEV3   IBOV    B3  4.394835e+09   2.6356
12  13  BPAC11   IBOV    B3  1.287248e+09   1.9468
13  14   RENT3   IBOV    B3  9.777005e+08   1.9461
14  15   EQTL3   IBOV    B3  1.244602e+09   1.8817
15  16   JBSS3   IBOV    B3  1.142696e+09   1.8816
16  17   EMBR3   IBOV    B3  7.346326e+08   1.7056
17  18   SUZB3   IBOV    B3  6.308218e+08   1.6991
18  19   RDOR3   IBOV    B3  1.145289e+09   1.5982
19  20   PRIO3   IBOV    B3  7.989098e+08   1.5551
20  21   RADL3   IBOV    B3  1.279770e+09   1.5122
21  22   RAIL3   IBOV    B3  1.215994e+09   1.0751
22  23   VBBR3   IBOV    B3  1.023393e+09   1.0642
23  24   GGBR4   IBOV    B3  1.242684e+09   1.0563
24  25   UGPA3   IBOV    B3  1.090134e+09   1.0362
25  26   ENEV3   IBOV    B3  1.579821e+09   1.0324
26  27   BBSE3   IBOV    B3  6.373323e+08   1.0238
27  28   VIVT3   IBOV    B3  4.072571e+08   1.0213
28  29   CMIG4   IBOV    B3  1.858637e+09   0.9616
29  30   BRFS3   IBOV    B3  8.145230e+08   0.9244

# Exercicio 3

Escreva a query que atualize o peso do ativo ABEV3 para 3,5% na tabela INDEX_WEIGHTS.

In [10]:
conn = sqlite3.connect('db\\sql_database.db')

query = "SELECT ID, TICKER, PESO FROM INDEX_WEIGHTS \
        WHERE TICKER='ABEV3'"

df_ex2_sql = pd.read_sql(query, conn)

df_ex2_sql.head(50)

   ID TICKER    PESO
0  12  ABEV3  2.6356

In [4]:
conn = sqlite3.connect('db\\sql_database.db')

In [10]:

query = "UPDATE INDEX_WEIGHTS \
        SET PESO=3.5 \
        WHERE TICKER='ABEV3'"

conn.execute(query)
conn.commit()

In [11]:
query = "SELECT * FROM INDEX_WEIGHTS \
        WHERE TICKER='ABEV3'"

df_ex2_sql = pd.read_sql(query, conn)

df_ex2_sql.head(50)

   ID TICKER INDICE FONTE   QTD_TEORICA  PESO
0  12  ABEV3   IBOV    B3  4.394835e+09   3.5

# Exerc√≠cio 4

Escreva a query que apague o registro de ITUB4 da tabela INDEX_WEIGHTS.

In [6]:
query = "DELETE FROm INDEX_WEIGHTS \
        WHERE TICKER='ITUB4'"

conn.execute(query)
conn.commit()

In [8]:
query = "SELECT * FROM INDEX_WEIGHTS \
        WHERE TICKER='ITUB4'"

df_ex2_sql = pd.read_sql(query, conn)

df_ex2_sql.head(50)

Empty DataFrame
Columns: [ID, TICKER, INDICE, FONTE, QTD_TEORICA, PESO]
Index: []

In [9]:
query = "SELECT * FROM INDEX_WEIGHTS"

df_ex2_sql = pd.read_sql(query, conn)

df_ex2_sql.head(50)

    ID  TICKER INDICE FONTE   QTD_TEORICA     PESO
0    1   VALE3   IBOV    B3  4.270903e+09  12.0693
1    2   PETR4   IBOV    B3  4.431133e+09   7.4851
2    4   PETR3   IBOV    B3  2.448349e+09   4.5171
3    5   BBDC4   IBOV    B3  5.129959e+09   3.6428
4    6   BBAS3   IBOV    B3  2.842614e+09   3.4972
5    7   WEGE3   IBOV    B3  1.269033e+09   3.3214
6    8   ELET3   IBOV    B3  1.780014e+09   3.2058
7    9   SBSP3   IBOV    B3  6.835086e+08   2.9119
8   10   ITSA4   IBOV    B3  5.504639e+09   2.7373
9   11   B3SA3   IBOV    B3  5.511401e+09   2.7355
10  12   ABEV3   IBOV    B3  4.394835e+09   3.5000
11  13  BPAC11   IBOV    B3  1.287248e+09   1.9468
12  14   RENT3   IBOV    B3  9.777005e+08   1.9461
13  15   EQTL3   IBOV    B3  1.244602e+09   1.8817
14  16   JBSS3   IBOV    B3  1.142696e+09   1.8816
15  17   EMBR3   IBOV    B3  7.346326e+08   1.7056
16  18   SUZB3   IBOV    B3  6.308218e+08   1.6991
17  19   RDOR3   IBOV    B3  1.145289e+09   1.5982
18  20   PRIO3   IBOV    B3  7.989098e+08   1.5551
19  21   RADL3   IBOV    B3  1.279770e+09   1.5122
20  22   RAIL3   IBOV    B3  1.215994e+09   1.0751
21  23   VBBR3   IBOV    B3  1.023393e+09   1.0642
22  24   GGBR4   IBOV    B3  1.242684e+09   1.0563
23  25   UGPA3   IBOV    B3  1.090134e+09   1.0362
24  26   ENEV3   IBOV    B3  1.579821e+09   1.0324
25  27   BBSE3   IBOV    B3  6.373323e+08   1.0238
26  28   VIVT3   IBOV    B3  4.072571e+08   1.0213
27  29   CMIG4   IBOV    B3  1.858637e+09   0.9616
28  30   BRFS3   IBOV    B3  8.145230e+08   0.9244